<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="88867c64-45f8-4edb-829e-4852df891f7d" Version="1.0.0.0" Publisher="CN=Thor Anderbakk Olsen" />
  <Properties>
    <DisplayName>Animation</DisplayName>
    <PublisherDisplayName>Thor Anderbakk Olsen</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Movie" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Rate movies" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="allLogos" WideLogo="images\tile.png" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>